@model GymApp.Models.Gym

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gym</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Excercise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Excercise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FocusOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FocusOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
